.parcours__entete {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: var(--espace-6);
  margin-bottom: var(--espace-6);
}

.parcours__accroche {
  color: var(--couleur-texte-doux);
  font-weight: 600;
  margin-bottom: var(--espace-1);
}

.parcours__chemin {
  display: flex;
  flex-direction: column;
  gap: var(--espace-7);
  padding-bottom: var(--espace-7);
}

.parcours__etape {
  display: flex;
}

.parcours__etape--gauche {
  justify-content: flex-start;
  padding-left: var(--espace-4);
}

.parcours__etape--droite {
  justify-content: flex-end;
  padding-right: var(--espace-4);
}
